<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="blue accent-2">
            <div class="nav-wrapper container">
                <a href="{{ path('homepage') }}" class="brand-logo">Natural-Memory</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{ path('scoreboard') }}">Tableau des scores</a></li>
                </ul>
            </div>
        </nav>
        <div class="container" style="margin-top: 50px;">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
